.statsfc_live table {					display: table; width: 100%; border-collapse: collapse; border: 1px solid silver; }
.statsfc_live th,
.statsfc_live td {						text-align: left; padding: 2px 5px; border-top: 1px solid silver; }
.statsfc_live .statsfc_incident td {	font-size: small; border: none; color: #666; }
.statsfc_live .statsfc_team {			width: 50%; }
.statsfc_live .statsfc_home {			text-align: right; }
.statsfc_live .statsfc_homeScore,
.statsfc_live .statsfc_vs,
.statsfc_live .statsfc_awayScore {		text-align: center; }
.statsfc_live .statsfc_highlight {		font-weight: bold; }
.statsfc_live span {					color: silver; }
.statsfc_live .statsfc_status {			font-weight: normal; float: left; }
.statsfc_live .statsfc_competition {	font-weight: normal; float: right; }
.statsfc_live .statsfc_footer {			display: block !important; text-align: right; margin-top: 0; padding: 2px 5px; }

.statsfc_live .statsfc_badge {			background-repeat: no-repeat; background-size: 20px 20px; line-height: 25px; }
.statsfc_live .statsfc_home {			background-position: center right; padding-right: 25px !important; }
.statsfc_live .statsfc_away {			background-position: center left; padding-left: 25px !important; }
